body{
	width: 100%;
	display: -webkit-box;/*so ur the parent box div */
	background-image:url("img2.jpg");
	-webkit-box-pack:horizontal;/*centeing main div*/

}
#bigphoto{
	height: 200px;
	margin-top: 1px;
	background-image:url("img2.jpg");
	position: fixed;
	left: 0px;
	width: 100%;
	margin-top: -20px;
	z-index: 2;
	
	box-shadow: 0px 20px 20px #000;
	

}


#m1{
	font-size: 20px;
	color: green;
	margin: 5%;
	margin-top: 230px;
	background-color: white;
	height: 250px;
	width: 20%;
	position: fixed;
      box-shadow: 0px 20px 50px #000;
       z-index: -1;
       -webkit-border-radius:25px;
       padding: 20px;
	}
	#m2{
		color: green;
	font-size: 20px;
	margin-bottom: 30px;
	margin: 5%;
	margin-top: 230px;
	background-color: white;
	height: 300px;
	width: 60%;
	 box-shadow: 0px 20px 50px #000;
   position: absolute;
   margin-left: 33%;
   -webkit-border-radius:25px;
   padding: 20px;

	}
	#m4{
	font-size: 20px;
	
	margin-top: 600px;
	
	height: 700px;
	width: 100%;
	z-index: 3;
	display: -webkit-box;
	-webkit-box-pack:center;
    -webkit-border-radius:25px;
	}
	#m3{
		background: white;
		box-shadow: 0px 20px 50px #000;
        height: 700px;
        width: 90%;

	}